
<div class="advice-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="well">


					<div class="advice_actions">
						<%= link_to random_advice_path(:advice_id => @advice.id), class: "pull-right btn btn-primary", data: {disable_with: "<i class='fa fa-refresh fa-spin fa-3x'></i>"} do %>
	  						<i class="fa fa-refresh fa-3x"></i>
						<% end %>

						<%= link_to downvote_advice_path, method: :put, class: "pull-right btn btn-danger", id: "downvote", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x'></i>"} do %>
							<i class="fa fa-thumbs-down fa-3x"></i>
						<% end %>
	                      

						<%= link_to upvote_advice_path, method: :put, class: "pull-right btn btn-success", id: "upvote", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x'></i>"} do %>
							<i class="fa fa-thumbs-up fa-3x"></i>
	                    <% end %>
	                </div>


					<% if @advice.live == true %>
						<div class="advice">
							<h2><em>GFCA #<%= @advice.id %></em></h2>
							<h1 class="big"><%= @advice.body %></h1>
							<% if @advice.twitter_handle.present? %>
								<div class="row">
									<div class="col-md-3 col-md-offset-9">
										<h4><em> by <%= link_to @advice.twitter_handle, "https://www.twitter.com/#{@advice.twitter_handle}" %> </em></h4>
									</div>
								</div>
							<% end %>
						</div>

						<hr class="hr-dark">

						<div class="social-share center" data-title="#GFCA" data-url="http://<%=request.host+request.fullpath%>" data-desc="" data-via="GFCodingAdvice" data-img="<%=root_url%>assets/shared/logo.png">

							<a rel="nofollow " data-site="twitter" class="social-share-twitter gfca-social" onclick="return SocialShareButton.share(this);" title="Share to Twitter" href="#"><i class="fa fa-twitter fa-4x"></i></a>

							<a rel="nofollow " data-site="facebook" class="social-share-facebook gfca-social" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#"><i class="fa fa-facebook fa-4x"></i></a>

							<a rel="nofollow " data-site="google_plus" class="social-share-google_plus gfca-social" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#"><i class="fa fa-google fa-4x"></i></a>

							<a rel="nofollow " data-site="email" class="social-share-email gfca-social" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#"><i class="fa fa-envelope fa-4x"></i></a>

							<br><br><small> Share this quote </small>
						</div>

					<% else %>
						<em><h1>Error. Please refresh.</h1></em>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>
